__pycache__
venv/

Graphs/graph.png
Graphs/multiGraph.png

CollectedData/*/
CollectedData/configLatinSquare.csv
CollectedData/pid_uid_mapping.csv

CLIP/*.pth

FullDataTools/mvk_eye_tracking/
FullDataTools/extracted_images/
FullDataTools/new_datasets/