body{
    background-color: #292929;
}


/* Navigation bar */
.navbar {
    background-color: #ff9600;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.form-check-input {
    margin-top: 0.3rem;
}



/* Image grid */
#imageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    overflow: hidden;

    margin-top: 60px;
}

.image-container {
    position: relative;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.image-container:hover {
    transform: scale(1.1);
    z-index: 5;
}

.image-container img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

/* hover buttons */
.hover-buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.image-container:hover .hover-buttons {
    opacity: 1;
    transform: translate(-50%, -20%) scale(1.1);
}
.btn {
    margin: 5px;
}


/* target image */
#targetImageDiv {
    z-index: 10;
    background-color: rgba(0,0,0,0.7);;
    display: flex;             
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    width: 100vw;
    position: fixed;
}

#targetImageDiv img {
    width: 60%;                 
    height: auto;              
    object-fit: cover;  
    border-radius: 10px;   
    border: solid #ff9600 10px; 
}

